defaults
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
port 25

account default
host {{ mail.host }}
port {{ mail.port }}
auth on
user {{ mail.user }}
password {{ mail.password }}
from {{ mail.from_address }}
logfile /var/log/msmtp.log